// =============================================
//  base
// =============================================
$size-font-base: 76%;
$line-height-base: 1.7;
$font-family-base: '游ゴシック', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;

// =============================================
//  color
// =============================================
// --------------------------------------
//  base color
// --------------------------------------
$color-main: #1A237E;
$color-sub: #2196F3;
$color-text: #000000;
$color-bg: #ffffff;

// --------------------------------------
//  grayscale
// --------------------------------------
$color-border: #cccccc;
$color-bg-gray: #eeeeee;
$color-placeholder: #a9a9a9;


// --------------------------------------
//  link color
// --------------------------------------
$color-link: #0085e2;
$color-purple3: #efeffa;
// --------------------------------------
//  hover color
// --------------------------------------
$color-hover: $color-purple3;

// =============================================
//  opacity
// =============================================
$opacity-hover: 0.5;
$opacity-backdrop: 0.6;
$opacity-disable: 0.3;

// --------------------------------------
//  font weight
// --------------------------------------
$font-bold: 700;
$font-md: 500;

// =============================================
//  font size body_text
// =============================================
$size-font-body-text: 117%;
// =============================================
//  line height
// =============================================
$line-height-body-text: 1.7;

// ==========================================================================
// size
// ==========================================================================
$size-body: 960px;
$size-site: 1024px;
// --------------------------------------
//  height
// --------------------------------------
$height-header-top-pc: 60px;
$height-header-sp: 50px;

// --------------------------------------
//  margin
// --------------------------------------
$margin-bottom-main-pc: 100px;
$margin-bottom-main-body-sp: 80px;

// --------------------------------------
//  padding
// --------------------------------------
$padding-offset-sp: 20px;
$padding-right-navigation: 50px;

// ==========================================================================
// transition
// ==========================================================================
$transition-hover: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
$transition-hover-fast: 0.1s cubic-bezier(0.13, 0.78, 0.38, 0.98);
$transition-accordion: 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
$transition-fade: 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
